@import 'tailwindcss';

:root {
    --primary: #6A0DAD;
    --accent: #EDE7F6;
    --foreground: #212529;
    --background: #F8F9FA;
    --border: #DEE2E6;
}

body {
    background: var(--background);
    color: var(--foreground);
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar,
::-webkit-scrollbar-button {
    display: none;
}

* {
    box-sizing: border-box;
    user-select: none;
}
